

  body {
    margin: 50px;
    padding: 0;
    text-align: center;
    background-color: black;
    padding-top: 100px; 
}


  header{
    color:white;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    font-size:3.0em;
    text-align: center;
    background-color: red;
}

footer {
  color: white;
  font-size: 0.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  left:0px;
  background-color: red;
}

h1{
  font-size: 2.0em;
  color:white;
}

h2{
  font-size: 0.5em;
  color: white;
}

h3{
  font-size: 1.0em;
  color:white;
}

h4{
  font-size: 0.9em;
  color:white;
}

h5{
  font-size: 0.8em;
  color:white;
}



#day{
  display: flex;
  justify-content: space-between;
}

