body {
    margin: 50px;
    padding: 0;
    text-align: center;
    background-color:black;
  }

  header{
    color:white;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    font-size:3.0em;
    text-align: center;
    background-color: red;
}

h1{
    line-height: 8;
    font-size: 1.5em;
    color:white;
}

.print{
  position: relative;
}
.menu{
  position: absolute;
  left: 50px;
  width:500px; 
  height: 500px;
  color:white;
}

.menu#day1{
  top: 50px;
}

.menu#day2{
  top: 550px;
}

.pDayData{
  
  position: relative;
  top:50px;
  left: 700px;
  max-width: 500px;
  color: white;
  display: flex;
  align-items: center; 
}

.pDayData h3 {
  margin-right: 30px; 
}

.sub{
  color:white;
  font-size: 1.0em;
}

footer{
  color:white;
  font-size:1.0em;
}

